body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgb(39, 30, 30);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* =================== container =================== */
.container {
  background: url("Assets/705837.svg");
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  aspect-ratio: 16 / 8;
}

/* ===================attackHistory =================== */
#player-history, #opponent-history {
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 1%;
  background-color: rgba(0, 0, 0, 0.4);
}

#opponent-history {
  margin-top: 1%;
}

#player-history {
  margin-bottom: 3%;
}

/* ===================healthbars =================== */
.health-bars {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
  height: 10%;
}

.health-bars div {
  text-align: center;
}

progress[value] {
  background-color: green;
  width: 20rem;
  height: 50%;
}

/* =================== main content =================== */
.main-content {
  display: flex;
  justify-content: center;
  height: 20%;
  margin-top: 15%;
}

.battle-effect {
  display:flex;
  align-items: center;
}

.player, .opponent {
  height: 80%;
  display: flex;
  align-items: center;
}

#player-char, #opponent-char {
  height: 100%;
}

#opponent-char {
  transform: scaleX(-1);
}

.battle-effect {
  display:flex;
  justify-content: space-between;
  min-width: 50%;
}

@keyframes playerAtk {
  from { transform: translateX(0);}
  to { transform: translateX(40vw)}
}


#player-atk {
  opacity: 0;
  position: absolute;
  top: 50vh;
  left: 28vw;
}

.player-animate {
  opacity: 1;
  animation: playerAtk 1s linear
}

@keyframes opponentAtk {
  from { transform: translateX(0);}
  to { transform: translateX(-40vw);}
}

#opponent-atk {
  opacity: 0;
  position: absolute;
  top: 50vh;
  left: 68vw;
}

.opponent-animate {
  opacity: 1;
  animation: opponentAtk 1s linear
}



/* =================== cooldowns & input attack =================== */
.attack-power {
  display: flex;
  width: 100%;
}

input[name="power"] { /* ini radio */
  display: none;
}

input[name="power"] + label {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 40px;
  margin: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

input[name="power"]:checked + label {
  background-color: white;
  color: black;
}

input[name="power"][disabled]+ label {
  opacity: 0.2;
}

.selection-container {
  width: 4%;
}

.cooldowns {
  margin: 0;
  color: gray;
  font-style: italic;
}

.power-selection {
  width: 90%;

}

.attack-power {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.attack-power input {
  font-size: 16px;
  width: 50px;
  text-align: center;
}

/* =================== element button =================== */
@keyframes blink {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 2;
  }
}

input[name="element"]{
  display: none;
}

input[name="element"]:checked + label {
  width: 1%;
  animation: blink 0.5s infinite
}

.element-img {
  display: inline-block;
  margin: 2vh;
  width: 4%;
  
}

/* =================== attack button =================== */

.btn-attack {
  margin: 0;
}

.btn-attack button#attack {
  background: url(Assets/attackButton.png);
  background-size:7rem;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  /* font-size: px; */
  margin: 1rem;
  padding-bottom:3rem;
  padding-right: 6.7rem;
}

/* =================== reset button =================== */
.btn-reset {
  display: flex;
  justify-content: flex-end;
}

.reset {
  background: url(Assets/resetButton.png);
  background-size:6rem;
  margin: 1%;
  padding-bottom: 2rem;
  padding-right:5.5rem;
  cursor: pointer;
}