body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* =================== container =================== */
.container {
  background: url("Assets/parallax-forest-front-trees.png");
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 90%;
  aspect-ratio: 16 / 9;

  
}

/* ===================healthbars =================== */
.attack-history {
  height: 10%;
}

/* ===================healthbars =================== */
.health-bars {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
  height: 10%;
}

.health-bars div {
  text-align: center;
}

.player-health, .opponent-health {
  width: 100%
} 

/* =================== input attack =================== */
.attack-power {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.attack-power input {
  font-size: 16px;
  width: 50px;
  text-align: center;
}

/* =================== element button =================== */

.element button#fire {
  background-color: red;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
}

.element button#wind {
  background-color: grey;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
}

.element button#water {
  background-color: blue;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
}

.element button#fire:hover {
  background-color: darkred;
}
.element button#wind:hover {
  background-color: darkgrey;
}
.element button#water:hover {
  background-color: #0056b3;
}

/* =================== attack button =================== */

.btn-attack {
  margin-top: 20px;
}

.btn-attack button#attack {
  background-color: black;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
}

/* =================== characters & battle effects =================== */
.main-content {
  display: flex;
  justify-content: center;

}

.player {
  width: 50px;
  height: 50px;
  border: 1px solid;
}

.battle-effect {
  width: 100px;
  height: 20px;
  border: 1px solid;
}
